<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Campeonatos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <form class="m-t-30" >
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
      >CI
      </mat-label
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput type="text"/>
      </mat-form-field>
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
      >Contraseña
      </mat-label
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput type="password"/>
      </mat-form-field>
<!--      <ng-container *ngIf="!isLoading; else loading">-->
<!--        <button type="submit" mat-flat-button color="primary" class="w-100">-->
<!--          Iniciar Sesión-->
<!--        </button>-->
<!--      </ng-container>-->
<!--      <ng-template #loading>-->
<!--        <div class="wrapper center">-->
<!--          <div class="inner">-->
<!--            <mat-spinner diameter="50" class="center"></mat-spinner>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-template>-->
    </form>

  </mat-card-content>
</mat-card>
