<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Campeonatos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <div class="mx-5">
      <form class="m-t-30">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Nombre
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text"/>
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Descripción
        </mat-label
        >
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text"/>
        </mat-form-field>

        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Fecha de inicio
        </mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput [matDatepicker]="picker" (click)="openDatePicker()"
                 placeholder="Selecciona la fecha"/>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>


        <!-- button centered -->
        <div class="text-center">
          <button
            mat-raised-button
            color="primary"
            class="btn-block w-50"
            type="submit"
          >
            Registrar
          </button>
        </div>
      </form>
    </div>


    <div class="d-flex align-items-center justify-content-center">
      <div class="row w-100 mt-4">
        <div class="col-lg-4 w-100" *ngFor="let champion of champions">
          <mat-card class="b-2 shadow-none">
            <mat-card-header class="element-position">
              <mat-card-title color="primary"> {{ champion.name }} </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="container-center">
              <img mat-card-image src="./assets/images/profile/copa.png" alt="Trofeo">
            </div>
            <mat-card-content class="b-x-1 px-4">
              <p>{{ champion.description }}</p>
              <p>{{ champion.startDate }} </p>
            </mat-card-content>
            <mat-card-actions>
                  <div class="button-center text-center w-100">
                    <div class="my-1">
                      <button mat-raised-button color="accent">ADMINISTRAR</button>
                    </div>
                    <div>
                      <button class="mx-1" mat-raised-button color="primary">EDITAR</button>
                      <button class="mx-1" mat-raised-button color="warn">DELETE</button>
                    </div>
                  </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
