.swal2-confirm {
  background-color: #4caf50; /* Cambia el color de fondo del botón de confirmación */
  color: #ffffff; /* Cambia el color del texto del botón de confirmación */
}

.swal2-cancel {
  background-color: #f44336; /* Cambia el color de fondo del botón de cancelación */
  color: #ffffff; /* Cambia el color del texto del botón de cancelación */
}

.swal2-deny {
  background-color: #ffc107; /* Cambia el color de fondo del botón de negación */
  color: #000000; /* Cambia el color del texto del botón de negación */
}
