<mat-card class="b-2 shadow-none py-4 ">
  <mat-card-header class="element-center mt-2">
    <button mat-stroked-button color="primary" class="button-round" aria-label="Example icon button with a delete icon">
      <mat-icon class="ps-1 fw-bold">add</mat-icon>
    </button>

  </mat-card-header>
  <div class="container-center">
    <img mat-card-image [src]=" '' | noimage" alt="Trofeo">
  </div>
  <mat-card-actions class="py">
    <div class="text-center w-100">
      <button mat-raised-button color=primary class="w-50 fw-bold py-3" > AÑADIR NUEVO </button>
    </div>
  </mat-card-actions>
</mat-card>
