    <div class="justify-content-center">
      <h2 class="fw-bold">Campeonatos</h2>
      <router-outlet></router-outlet>

      <div class="row w-100 mt-4">
        <div class="col-lg-4">
          <app-new-element-card></app-new-element-card>
        </div>
        <div class="col-lg-4 w-100" *ngFor="let champion of champions">
          <div>
            <mat-card class="b-2 shadow-none">
              <app-card [element]="champion"> </app-card>
              <mat-card-actions class="my-2">
                <div class="text-center w-100 pt-2">
                  <button mat-raised-button color="accent" class="fw-bold me-2" >ADMINISTRAR</button>
                  <button mat-raised-button color="primary" class="fw-bold" >EDITAR</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>

        </div>
      </div>
    </div>

